.title{
    width: 163px;
    height: 38px;
    margin: 0 0 0 100px;
    font-family: NotoSans;
    font-size: 26px;
    line-height: 38px;
    text-align: left;
    color: #585858;
}

.test-create{
    position: absolute;
    width: 1920px;
    height: 82px;
    text-align: left;
}

.input-file-button{
    position: absolute;
    width: 677px;
    height: 82px;
    left: 664px;
    top: 484px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #707070;
}

.file-input{
    position: absolute;
    width: 1401px;
    height: 397px;
    left: 259px;
    top: 323px;
    color: #8B8787;
}