.button {
    width: 400px;
    height: 320px;
    margin: 56px 63px 56px 20px;
    object-fit: contain;
    background-color : #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border : none;
}

.button:focus {
    border : none;
    outline : none;
}

.grpTitle {
    width: 210px;
    height: 35px;
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b8787;
}

.headCnt {
    width: 108px;
    height: 23px;
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8b8787;
}

.img {
    width : 300px;
    height: 300px;
}