a {
    text-decoration: none;
    color: #707070;
}

.flex {
    display: flex;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

.flex-li {
      margin: 20px;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}

.profile {
    width: 300px;
    height: 579px;
    margin: 100px 17px 272px 72px;
    padding: 43px 50px 138px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #f3f3f3;
    background-color: #fdfdfd;
    align-items: center;
}

.profile-box {
    width: 170px;
    height: 170px;
    margin: 0 60px 40px 60px;
    background-color: #e9e9e9;
    border-radius: 70%;
    overflow: hidden;
}
.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-id{
    width: 67px;
    height: 35px;
    margin: 40px 110px 48px 110px;
    font-family: NotoSansKR;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 35px;
    letter-spacing: normal;
    text-align: center;
    color: #8b8787;
}

.user-bar{
    width: 218px;
    height: 6px;
    margin: 40px 40px 40px 40px;
    border-radius: 16px;
    background-color: #ffe041;
}


.mytest-all{
    width: 300px;
    height: 50px;
    margin: 0 40px 0 40px;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #8b8787;
}

.mytest-all-num{
    width: 10px;
    height: 50px;
    margin: 0 40px 0 40px;
    font-family: Roboto;
    font-size: 16px;
    text-align: left;
    color: #8b8787;
}

.test  {
    width: 1344px;
    height: 130px;
    padding: 36px 31px 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px #f3f3f3;
    background-color: #fdfdfd;
    margin: 0 0 30px 100px;
    display: flex;
}

.testlist {
    position: absolute;
    width: 1337px;
    height: 722px;
    left: 460px;
    top: 299px;
}


.test-create{
    position: absolute;
    width: 1920px;
    height: 82px;
    text-align: left;
}

.title{
    width: 163px;
    height: 38px;
    margin: 0 0 0 100px;
    font-family: NotoSans;
    font-size: 26px;
    line-height: 38px;
    text-align: left;
    color: #585858;
}

.testbtn{
    width: 216px;
    height: 70px;
    margin: 0 0 0 100px;
    padding: 26px 3px 25px 23px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #6881f7;
}

.flex-test{
    display: flex;
}

.flex-test > div {
    margin : 0 0 0 0;
    padding : 0 0 0 0;
}