
a {
  text-decoration: none;
  color: #707070;
}

.flexContainer {
  width: 100%;
  height: 80px;
  padding: 22px 766px 0 59px;
  background-color: #ffe041;
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.nav {
  width: 120px;
  height: 30px;
  margin: 15px 100px 15px 100px;
  font-family: NotoSansKR;
  font-size: 22px;
  text-align: left;
  color: #585858;
}
