body {
  margin: 0;
  width: 1920px;
  height: 1080px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face { font-family: 'NotoSansKR'; src: url(./fonts/NotoSansKR-Medium.otf) format('truetype'); }
